.nav__link{
  color: #000;
  text-decoration: none;
  border-radius: 16px;
  padding: 0.5%;
  transition:background-color  0.3s ease-in-out;
  transition: color  0.2s ease-in-out; 

}
.nav__link:hover{
  color: white;
  background-color: #000;
  text-decoration: none;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
